body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-header {
  font-weight: bold;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
.input-group .form-control {
  border-radius: 0.5rem 0 0 0.5rem;
}

.input-group .btn {
  border-radius: 0 0.5rem 0.5rem 0;
}
